
@{
    ViewBag.Title = "Urun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section><main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfolyo</h2>
                <ol>
                    <li><a href="/tr/Anasayfa/">Anasayfa</a></li>
                    <li>Portfolyo</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">HEPSİ</li>
                        <li data-filter=".filter-kagit">Kağıt</li>
                        <li data-filter=".filter-canta">Çanta</li>
                     
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/ambalaj-kagidi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Ambalaj Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/ambalaj-kagidi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Ambalaj Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-canta">
                    <img src="~/Content/BeePack/assets/img/Urun/kraft-burgu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Burgu Saplı Kraft Çanta</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/kraft-burgu.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Burgu Saplı Kraft Çanta"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/koruklu-kese-kagidi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Körüklü Kese Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/koruklu-kese-kagidi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Körüklü Kese Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/koruksuz-kese.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Körüksüz Kese Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/koruksuz-kese.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Körüksüz Kese Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/amerikan-servis-kagidi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Amerikan Servis Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/amerikan-servis-kagidi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Amerikan Servis Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-canta">
                    <img src="~/Content/BeePack/assets/img/Urun/el-gecmeli-kraft.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>El Geçmeli Kraft Çanta</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/el-gecmeli-kraft.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="El Geçmeli Kraft Çanta"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/koruksuz-hamburger-kese-kagidi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Körüksüz Hamburger Kese Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/koruksuz-hamburger-kese-kagidi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Körüksüz Hamburger Kese Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/ambalaj.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Ambalaj Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/ambalaj.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Ambalaj Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/koruklu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Körüklü Kese Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/koruklu.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Körüklü Kese Kağıdı"><i class="bx bx-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section>

</main>  </section>
<!-- End #main -->
