
@{
    ViewBag.Title = "Urun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section><main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfolyo</h2>
                <ol>
                    <li><a href="/tr/Anasayfa/">Anasayfa</a></li>
                    <li>Portfolyo</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">HEPSİ</li>
                        <li data-filter=".filter-kagit">Kağıt</li>
                        <li data-filter=".filter-canta">Çanta</li>
                        <li data-filter=".filter-poset">Poşet</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/ambalaj_kagidi.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Ambalaj Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/ambalaj_kagidi.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Ambalaj Kağıdı"><i class="bx bx-plus"></i></a>
                        <a href="urun.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-canta">
                    <img src="~/Content/BeePack/assets/img/Urun/Burgu-Sapli-Kraft-Canta.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Burgu Saplı Kraft Çanta</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/Burgu-Sapli-Kraft-Canta.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Burgu Saplı Kraft Çanta"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/Dipli-kese-kagidi.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dipli Kese Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/Dipli-kese-kagidi.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Dipli Kese Kağıdı"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/kese-kagidi-dipsiz.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dipsiz Kese Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/kese-kagidi-dipsiz.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Dipsiz Kese Kağıdı"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-kagit">
                    <img src="~/Content/BeePack/assets/img/Urun/oturtma-baski-servis-kagidi.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Oturtma Baskı Servis Kağıdı</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/oturtma-baski-servis-kagidi.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Oturtma Baskı Servis Kağıdı"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-poset">
                    <img src="~/Content/BeePack/assets/img/Urun/pencereli-dipsiz-poset.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Pencereli Dipsiz Poşet</h4>
                        <p>BeePack</p>
                        <a href="~/Content/BeePack/assets/img/Urun/pencereli-dipsiz-poset.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Pencereli Dipsiz Poşet"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>






            </div>

        </div>
    </section>

</main>  </section>
<!-- End #main -->
