<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BeePack Ambalaj</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/BeePack/assets/img/logo/logo.png" rel="icon">
    <link href="~/Content/BeePack/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/BeePack/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/BeePack/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/BeePack/assets/css/style.css?v=1" rel="stylesheet">

    <style>
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <a href="index.html" class="logo me-auto me-lg-0"><img src="~/Content/BeePack/assets/img/logo/logo.png" alt="" style="max-height: 70px;" class="img-fluid light-logo"></a>
            <a href="index.html" class="logo me-auto me-lg-0"><img src="~/Content/BeePack/assets/img/logo/Beepack_Beyaz.png" alt="" style="max-height: 70px;" class="img-fluid dark-logo"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="index.html" class="active">Anasayfa</a></li>

                    <li class="dropdown">
                        <a href="#"><span>Hakkımızda</span> </a>

                    </li>

                    <li><a href="services.html">Ürünler</a></li>

                    <li><a href="contact.html">İLETİŞİM</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links d-flex">
                <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
            </div>

        </div>
    </header>

 @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="curved upper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#212121" fill-opacity="1" d="M0,128L48,117.3C96,107,192,85,288,106.7C384,128,480,192,576,224C672,256,768,256,864,224C960,192,1056,128,1152,112C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
            </svg>
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>BeePack</h3>
                        <p>
                            Ürünlü Mah 50. Sok. No.: 155/1 <br>
                            16120 Nilüfer / Bursa <br><br>
                            <strong>Telefon:</strong> +90 533 953 25 87<br>
                            <strong>Email:</strong> info@beepacks.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Site Haritası</h4>
                        <ul>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#"> Giriş</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Hakkımızda</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Ürünler</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Kullanım Şartları</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Hizmetler</h4>
                        <ul>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Ambalaj Kağıtları</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Servis Kağıtları</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Dipsiz Kese Kağıdı</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Dipli Kese Kağıdı</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Pencereli Dipsiz Poşet</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Burgu Saplı Kağıt Çanta</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Kese Kağıdı</a></li>
                            <li><img src="~/Content/BeePack/assets/img/footer/footer-icon.png" style="padding: 5px;" /> <a href="#">Kraft Çanta</a></li>


                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Kampanyalarımızdan Haberdar Olmak İçin Kayıt Olun!</h4>
                        <p>email adresinizi yazıp <span>kayıt ol </span> butonuna tıklamanız yeterlidir.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Kayıt Ol">
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </footer><!-- End Footer -->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
  const options = {
  bottom: '64px', // default: '32px'
  right: '32px', // default: '32px'
  left: 'unset', // default: 'unset'
  time: '2s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#100f2c',  // default: '#100f2c'
  buttonColorLight: '#fff', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '🌓', // default: ''
  autoMatchOsTheme: true // default: true
}

const darkmode = new Darkmode(options);
darkmode.showWidget();
    </script>


    <!-- Vendor JS Files -->
    <script src="~/Content/BeePack/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/BeePack/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/BeePack/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/BeePack/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/BeePack/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/BeePack/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/BeePack/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/BeePack/assets/js/main.js"></script>

</body>

</html>